<?XML version="1.0"?>
<scriptlet>
<registration 
    progid="EicarViaPowerShell"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}">
<script language="JScript">
<![CDATA[
    function RunPayload() {
        var shell = new ActiveXObject("WScript.Shell");
        var cmd = 'powershell -NoP -W Hidden -C "$p=Join-Path $env:TEMP ''m30w_drop'';mkdir $p -ea 0;\\\"X5O!P%@AP[4\\\\PZX54(P^)7CC)7}$EICAR-STANDARD-ANTIVIRUS-TEST-FILE!$H+H*\\\"|Out-File (Join-Path $p ''m30w.cat'');\\\"$($_|Out-File)\\\"|Out-File (Join-Path $p ''scan.com'');start explorer $p"';
        shell.Run(cmd, 0, false);
    }
]]>
</script>
</registration>
</scriptlet>
