<?XML version="1.0"?>
<scriptlet>
<registration 
    progid="PoC"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}">
<script language="JScript">
<![CDATA[
    var fso = new ActiveXObject("Scripting.FileSystemObject");
    var shell = new ActiveXObject("WScript.Shell");
    var folder = fso.GetAbsolutePathName(".");
    var eicar = "X5O!P%@AP[4\\PZX54(P^)7CC)7}$EICAR-STANDARD-ANTIVIRUS-TEST-FILE!$H+H*";

    var files = ["m30w.cat", "foo.bar", "litt3r.bin", "TotesCatPics.com"];

    for (var i = 0; i < files.length; i++) {
        var path = fso.BuildPath(folder, files[i]);
        var fh = fso.CreateTextFile(path, true);
        fh.Write(eicar);
        fh.Close();
    }
]]>
</script>
</registration>
</scriptlet>
